<!--<div>
  <h1>{{ appTitle }}</h1>
  <button (click)="changeTitleHandler()">Change title</button>
  <hr />
  <h2>{{ user.name }}</h2>
</div>
<button [disabled]="isAppLoading">Send</button>
<hr/>
<br />
<input type="text" (keyup.enter)="changeTextHandler($event)">
<h2>{{ text}}</h2>
<hr/>
<input type="text" (keyup.enter)="changeTextHandler($event)" [value]="text"/>
<hr/>
<br /><br />
<h2>{{text}}</h2>
<input type="text" [(ngModel)]="text"/>
<hr/>
<br /><br />-->
<!--<inst-parent></inst-parent>-->
<!--<inst-directive></inst-directive>-->
<!--<inst-new-parent></inst-new-parent>-->
<!--<inst-homework></inst-homework>-->
<!--<inst-pipe></inst-pipe>-->
<!--<inst-comp-a></inst-comp-a>
<hr/>
<inst-comp-b></inst-comp-b>-->
<inst-todolist></inst-todolist>
